body{
    font-family: 'open sans',sans-serif;
    background-image: url("Zeus\ esport\ mascot\ logo\ design.jpeg"),url(Premium\ Vector\ _\ Grim\ reaper\ esports\ mascot\ design\,\ gaming\ logo\ template\,\ illustration.jpeg);
    background-size: 25%,50%;
    background-repeat:  no-repeat,no-repeat;
    background-position:top left,top right;
}