.container{
    display: grid;
    grid-template-areas: "header header header";
    grid-template-areas: "content content";
    grid-template-areas: "footer footer footer ";
                          
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: content;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}